.tableHead {
    display: flex;
    justify-content: space-between;
}

.search {
    background-color: aliceblue;
    font-size: large;
    font-family: 'Gentium Book Plus', serif;
    width: 85%;
    border-radius: 10px;
}

.buttonCell {
    display: flex;
    justify-content: space-between;
}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
    align-items: baseline;
}