.loginDiv {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gentium Book Plus', serif;
    z-index: -1;
}

.notchedOutline {
    border-width: 1px;
    border-color: burlywood !important
}

.loadingSpinner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}